:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --title-text-color: #ffffff;
  --bgc-portfolio-cards: rgba(33, 150, 243, 0.9);
  --overlay-bgc: rgba(47, 48, 58, 0.8);
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --icon-fill-main: #afb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-long: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-pf-card: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --transition-time: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
  text-decoration: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.current {
  color: var(--accent-text-color);
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-text-color);
  border-radius: 5px;
  left: 0;
  bottom: -3px;
}

.border-main {
  padding: 30px 32px;
  background-color: var(--title-text-color);
  border-radius: 0 0 6px 6px;
  box-shadow: var(--box-shadow-long);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.main__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--secondary-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .main__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 50px;
    color: var(--secondary-text-color);
  }
}

.logo {
  display: inline-block;
  margin-left: 0px;
  color: var(--accent-text-color);
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.logo-studio {
  color: #000000;
  transition: color var(--transition-time) var(--cubic-bezier);
}

.logo--header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 88px;
}

.logo__studio {
  color: #000000;
  transition: color var(--transition-time) var(--cubic-bezier);
}
.logo__studio:hover, .logo__studio:active {
  color: var(--accent-text-color);
}

.logo__studio--footer {
  color: var(--title-text-color);
  transition: color var(--transition-time) var(--cubic-bezier);
}
.logo__studio--footer:hover, .logo__studio--footer:focus {
  color: var(--accent-text-color);
}

.logo-foot-main {
  margin-bottom: 20px;
}

.container,
.container--footer {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container,
.container--footer {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container,
.container--footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container,
.container--footer {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
.container--footer {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    text-align: baseline;
  }
}

.container--mob-header {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .container--mob-header {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 767px) {
  .container--mob-header {
    display: none;
  }
}

.container__header {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container__header {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container__header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container__header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container__header {
    width: 1200px;
  }
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
}

.button__hero {
  border-radius: 6px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__filter {
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  width: auto;
  transition: color var(--transition-time) var(--cubic-bezier), background-color var(--transition-time) var(--cubic-bezier), box-shadow var(--transition-time) var(--cubic-bezier);
}
.button__filter:hover, .button__filter:focus {
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  box-shadow: var(--box-shadow);
}

.filter__current {
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .filter__margins {
    margin-bottom: 15px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .filter__margins {
    margin-left: 8px;
  }
  .filter__margins:first-child {
    margin-left: 0;
  }
}

.btn {
  display: inline-block;
}

.button--modal {
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 54px;
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  font-weight: 700;
  line-height: 1.87;
  padding: auto auto;
  vertical-align: center;
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .button--subscribe {
    margin: 0 auto;
  }
}

.close-menu-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition-time) var(--cubic-bezier);
}
.close-menu-button:hover, .close-menu-button:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.open-menu-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 767px) {
  .open-menu-button {
    display: none;
  }
}
.open-menu-button :hover, .open-menu-button :focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.social-icons__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item + .social__item {
  margin-left: 10px;
}

.social__icon {
  fill: currentColor;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-fill-main);
  transition: color var(--transition-time) var(--cubic-bezier), background-color var(--transition-time) var(--cubic-bezier);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-text-color);
  color: var(--title-text-color);
}

.social__link--footer {
  color: var(--title-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}

.contacts__list {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list + .contacts__list {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list:last-child {
    margin-bottom: 18px;
  }
}

.contacts__mail,
.contacts__tel {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color var(--transition-time) var(--cubic-bezier);
}
.contacts__mail:hover, .contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts__mail,
.contacts__tel {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__mail {
    margin-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__mail {
    padding: 32px 0;
  }
}

.contacts__tel {
  margin-left: -2px;
}
@media screen and (min-width: 1200px) {
  .contacts__tel {
    padding: 32px 0;
    padding: 32px 0;
    margin-left: 0;
  }
}

.contacts__icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link--footer {
  display: inline-block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-time) var(--cubic-bezier);
}
.contacts__link--footer:hover, .contacts__link--footer:focus {
  color: var(--accent-text-color);
}

.contacts--footer-list :last-child {
  margin-bottom: 0;
}

.contacts--footer {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts--footer {
    max-width: 231px;
    margin-bottom: 9px;
  }
}

.form-field {
  margin-bottom: 10px;
}

.form__input-wrap {
  position: relative;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--transition-time) var(--cubic-bezier);
}
.form__input:focus, .form__input:hover {
  border-color: var(--accent-text-color);
  cursor: pointer;
}
.form__input:focus + .form__icon-name, .form__input:hover + .form__icon-name {
  fill: var(--accent-text-color);
}

.form__icon-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--transition-time) var(--cubic-bezier);
}

.form__input__text {
  display: block;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__textarea {
  width: 100%;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  background-color: transparent;
  transition: border-color var(--transition-time) var(--cubic-bezier);
}
.form__textarea:focus, .form__textarea:hover {
  border-color: var(--accent-text-color);
  cursor: pointer;
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.nav {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    width: 738px;
  }
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.nav__list {
  display: flex;
  padding-left: 0px;
}

.nav__item {
  color: var(--secondary-text-color);
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item:hover, .nav__item:focus {
  color: var(--accent-text-color);
}

.nav__link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color var(--transition-time) var(--cubic-bezier);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}

.nav__link.current {
  color: var(--accent-text-color);
}

@media screen and (min-width: 767px) {
  .logo--header.logo.mobile {
    display: none;
  }
}

.nav-right {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

@media screen and (min-width: 768px) {
  .nav-left {
    margin-right: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-left {
    margin-right: 305px;
  }
}

.hero__section {
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--third-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (max-width: 480px) {
  .hero__section {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob-1x.jpg);
  }
}
@media not all, screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero__section {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-1x.jpg);
  }
}
@media not all, screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero__section {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_1x.jpg);
  }
}
@media not all, screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero__section {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: var(--title-text-color);
  text-transform: uppercase;
}
@media screen and (min-width: 320px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    font-weight: 900;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    max-width: 696px;
  }
}

.examples__section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .examples__section {
    display: none;
  }
}

.examples {
  display: flex;
  padding-left: 0;
}

.examples__item {
  margin-left: 30px;
}
.examples__item:first-child {
  margin-left: 0;
}

.examples__pic-div {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-bgc);
}

.examples__text {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-background-color);
}

.container-footer-left {
  text-align: center;
  display: block;
  min-width: 231px;
}
@media screen and (max-width: 767px) {
  .container-footer-left {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer-left {
    margin-right: 70px;
    text-align: left;
  }
}

.address {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--title-text-color);
  transition: color var(--transition-time) var(--cubic-bezier);
}
.address:hover, .address:focus {
  color: var(--accent-text-color);
}

.footer__join {
  text-align: center;
  margin-bottom: 20px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__join {
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__wrap--left {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap--left {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap--left {
    justify-content: space-between;
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap--all {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer-socials {
    height: 80px;
  }
}

.features__list {
  margin-bottom: -30px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(100% / 4 - 30px);
  }
  .features__item + .features__item {
    margin-left: 30px;
  }
}

.features__icon-block {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: flex;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.features__icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.features__title {
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    display: inline-block;
  }
}

.features__paragraph {
  display: inline-block;
  min-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.our-team {
  background-color: var(--secondary-background-color);
}

.team__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc(100% / 4 - 30px);
  }
  .team-item + .team-item {
    margin-left: 30px;
  }
}

.div-team {
  background-color: var(--title-text-color);
}

.names {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.responsibilities {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.team-icons-item + .team-icons-item {
  margin-left: 10px;
}

/* .team-social-icon:hover,
.team-social-icon:focus {
fill: var(--title-text-color);
} */
.clients {
  display: flex;
}
@media screen and (min-width: 320px) {
  .clients {
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    justify-items: center;
  }
}

.clients__item {
  height: 92px;
}
@media screen and (min-width: 320px) {
  .clients__item {
    width: 210px;
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    width: calc(100% / 3 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    width: calc(100% / 6 - 30px);
  }
}
.clients__item .clients__link {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-fill-main);
  border: 1px solid var(--icon-fill-main);
  transition: color var(--transition-time) var(--cubic-bezier), border-color var(--transition-time) var(--cubic-bezier);
}
.clients__item .clients__link:hover, .clients__item .clients__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .subscribe {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    display: flex;
  }
}

.subscribe__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.ul-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .ul-filter {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .ul-filter {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.portfolio__border {
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  padding: 20px 24px;
  flex-grow: 1;
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  text-decoration: none;
  transition: box-shadow var(--transition-time) var(--cubic-bezier);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: var(--box-shadow-pf-card);
}
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  transform: translateY(-100%);
}

.portfolio__pic-div {
  position: relative;
  overflow: hidden;
}

.portfolio__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__paragraph {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__overlay-text {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--bgc-portfolio-cards);
  transition: transform var(--transition-time) var(--cubic-bezier);
  overflow: auto;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__container {
    margin: -15px;
  }
}

.portfolio__flex-item {
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) {
  .portfolio__flex-item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .portfolio__flex-item {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__flex-item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1199px) {
  .portfolio__flex-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__flex-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__flex-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-time) var(--cubic-bezier), visibility var(--transition-time) var(--cubic-bezier);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;
  transition: transform 250ms;
  overflow-y: scroll;
}
@media screen and (min-width: 320px) {
  .modal {
    width: 90%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--secondary-text-color);
  text-align: center;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.checkbox:checked + .checkbox__text span {
  background-color: var(--accent-text-color);
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  border: none;
}
.checkbox:checked + .checkbox__text .icon-checked {
  fill: var(--background-color);
}

.checkbox:focus + .checkbox__text .icon-checked {
  border: 3px solid var(--accent-text-color);
}

.checkbox__link {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--accent-text-color);
}
.checkbox__link:focus span {
  border: 3px solid;
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
}

.checkbox__text {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 400;
  transition: border-color var(--transition-time) var(--cubic-bezier);
}
.checkbox__text:hover {
  cursor: pointer;
}
.checkbox__text:hover span, .checkbox__text:focus span {
  cursor: pointer;
  border: 3px solid;
  border-color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
}
@media screen and (min-width: 479px) {
  .checkbox__text {
    display: flex;
  }
}

.checkbox--modified {
  display: inline-block;
  margin-right: 8px;
}

.checkbox__text span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-time) var(--cubic-bezier), border-color var(--transition-time) var(--cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .checkbox__text span {
    margin-right: 11px;
  }
}

.icon-checked {
  fill: transparent;
  transition: fill var(--transition-time) var(--cubic-bezier);
}

.comments {
  margin-bottom: 20px;
}

/* font-size: 14px;
line-height: 1.71;
color: var(--primary-text-color);
letter-spacing: 0.03em;  
} */
.checkbox__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition-time) var(--cubic-bezier);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.mob-menu {
  z-index: 99;
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  transition: opacity var(--transition-time) var(--cubic-bezier), visibility var(--transition-time) var(--cubic-bezier);
}
@media screen and (min-width: 767px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .mob-menu {
    padding-left: 40px;
  }
}
.mob-menu.is-hidden .modal {
  transform: scale(1.5);
}

.burger__list {
  margin-top: 48px;
}

.burger__item {
  margin-bottom: 32px;
}
.burger__item:last-child {
  margin-bottom: 0;
}

.burger__link {
  display: inline-block;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.burger__link:hover, .burger__link:focus {
  color: var(--accent-text-color);
}
@media screen and (min-width: 480px) {
  .burger__link {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

.burger__link.current {
  color: var(--accent-text-color);
}

.burger__contacts {
  margin-bottom: 64px;
}

.burger__tel {
  display: block;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  color: var(--accent-text-color);
  padding-bottom: 32px;
}
@media screen and (min-width: 480px) {
  .burger__tel {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

.burger__mail {
  display: block;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-text-color);
}

.burger__social__list {
  display: flex;
  flex-wrap: wrap;
}

.burger__social__item {
  padding-left: 10px;
}
.burger__social__item + .burger__social__item {
  margin-left: 10px;
  border-left: 2px solid rgba(33, 33, 33, 0.2);
}

.burger__social__item:first-child {
  padding-left: 0;
}

.burger__social__link {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  color: var(--accent-text-color);
}

.menu-bottom {
  margin-bottom: 48px;
}

.mob-menu.container.is-hidden {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */