.hero__section {
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--third-background-color);
  @media screen and (min-width: 320px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob-1x.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab-1x.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-picture.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: var(--title-text-color);
  text-transform: uppercase;
  @media screen and (min-width: 320px) {
    @include font(26px, 1.61, 0.06em, 900);
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    @include font(44px, 1.36, 0.06em, 900);
    max-width: 696px;
  }
}
