.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  // display: flex;
  // margin-left: auto;
  // align-items: center;
}

// .contacts__list {
//   & + & {
//     margin-left: 50px;
//   }
// }
.contacts__list {
  display: flex;
  flex-direction: row;
}
.contacts__mail,
.contacts__tel {
  // padding-top: 32px;
  // padding-bottom: 32px;
  @include font(12px, 1.16, 0.02em, 500);
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color var(--transition-time) var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
  @media screen and (min-width: 1200px) {
    @include font(14px, 1.16, 0.02em, 500);
  }
}
.contacts__mail {
  padding-bottom: 10px;
  padding-top: 20px;
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    margin-right: 30px;
  }
}
.contacts__tel {
  padding-bottom: 18px;
  margin-left: -2px;
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    margin-right: 10px;
    padding: 32px 0;
  }
}
.contacts__icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 10px;
}
.contacts__link--footer {
  display: inline-block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-time) var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    margin-bottom: 8px;
  }
}
.contacts--footer {
  @media screen and (min-width: 1200px) {
    max-width: 231px;
    margin-bottom: 9px;
    & :last-child {
      margin-bottom: 0;
    }
  }
}
